.generator-wrapper {
  margin-top: 4em;
  height: 100vh;
  background-color: antiquewhite;

  display: flex;

  .left {
    flex: 1;
    background-color: aqua;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
