.navbar-wrappter {
  height: 4em;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  display: flex;

  .left {
    flex: 1.5;
    // background-color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      //   background-color: aqua;

      .icon {
        margin-right: 5px;
        font-size: 2.5em;
      }

      .name {
        // 字体加粗
        font-weight: 700;
        font-size: 18px;
      }
    }

    .center {
      flex: 3;
      background-color: aqua;
    }
  }

  .middle {
    flex: 4;
    // background-color: aqua;
  }

  .right {
    flex: 3;
    // background-color: yellow;

    .nav-list {
      width: 100%;
      height: 100%;

      display: flex;
      //   background-color: antiquewhite;

      .nav-item {
        flex: 1;
        // background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #4d5562;
        transition: color 0.4s ease, background-color 0.3s ease;

        &:hover {
          color: #000000;
        }
      }
    }
  }
}
